html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;

}

::-moz-selection {
    background: #D9E5E7;
    text-shadow: none;
}

::selection {
    background: #D9E5E7;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */


body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

.header-container {
    margin: 0 1%;
}

.header-container{
    background: #FFFFFF;
}

.title {

    color: black;
}

/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
}
/*
nav {
    background: #FFFFFF;
    padding: 15px 10px;
    color: #fff;
    font-family: 'Segoe UI', sans-serif;
    text-align: right;
}*/

nav{
    float: right;

}
nav li {
    display: inline-block;
    vertical-align: top;

}

nav a {
    /*
    position: absolute;
width: 239px;
height: 19px;
left: 969px;
top: 46px;

    */

    font-family: SF UI Text, sans-serif; /* нужно изменить шрит*/
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    
    text-align: left;
    text-decoration: none;

}

nav a:hover {
    border: 1px solid #fff;
}

nav a:hover,
nav a:visited {
    color: gray;
}

nav a:hover {
    text-decoration: underline;
}

/* ==============
    BUTTON
   ============== */

input[type="checkbox"] {
    display: none;
}

nav label {
    display: none;
    border: 1px solid #fff;
    cursor: pointer;

}

nav label:hover {
    color: #5F43FA;
    border: 1px solid #5F43FA;
}


#icons{

    position: absolute;
    /*width: 197px;
    height: 36px;
    left: 34px;*/

    margin: 34px 969px 39px 34px;

}
/* ==============
    MOBILE: Main
   ============== */

.main {
    position: absolute;

    /*
    margin-left: 88px;
    margin-top: 39px;
    margin-bottom: 0;
    margin-right: 88px;

    */

    margin: 62px 88px 0;
    background: #C4C4C4;

}
/*
.main article h1 {
    font-size: 2em;
}*/


/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 320px) {

    /* ====================
        INTERMEDIATE: Menu
       ==================== */

    nav label {
        display: inline-block;
    }

    nav>ul {
        display: none;
    }

    input[type="checkbox"]:checked~label+ul {
        display: block;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }



    /* ========================
        INTERMEDIATE: IE Fixes
       ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }

    .main {
        position: absolute;
        margin: 28.57px 20px 0;
        background: #C4C4C4;

    }
    #icons{
        position: absolute;
        /*width: 197px;
        height: 36px;
        left: 34px;*/
        margin: 31px 0 28.57px 18px;
    }
}

@media only screen and (max-width: 600px) {

    /* ====================
        WIDE: CSS3 Effects
       ==================== */


    /* ============
        WIDE: Menu
       ============ */
    nav label {
        display: inline-block;
    }

    nav>ul {
        display: none;
    }

    input[type="checkbox"]:checked~label+ul {
        display: block;
    }


    .title {
        float: left;
    }

    nav {
        float: right;
        width: 30%;
    }

    /* ============
        WIDE: Main
       ============ */

    .main article {
        float: left;
        width: 100%;
    }

    .main {
        position: absolute;
        margin: 28.57px 20px 0;
        background: #C4C4C4;

    }
    #icons{
        position: absolute;
        /*width: 197px;
        height: 36px;
        left: 34px;*/
        margin: 31px 0 28.57px 18px;
    }


}

@media only screen and (min-width: 1200px) {

    /* ===============
        Maximal Width
       =============== */
    .
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow:none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

