/* ===========================
   HTML5 Boilerplate styles
   ===========================*/

html,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;

}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}



img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* =======================================================

   ========================================================================== */

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

.title {
    color: black;
}

/* ==============
    Menu nav
   ============== */

nav{
    font-family: SF UI Text, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav a:hover,
nav a:visited {
    color: gray;
}

nav a:hover {
    text-decoration: underline;
}

/* ==============
    BUTTON
   ============== */

input[type="checkbox"] {
    display: none;
}

nav label {
    display: none;
    border: 1px solid #fff;
    padding: 5px 10px;
    cursor: pointer;
    transition: 0.3s;
}

nav label:hover {
    color: #f00;
    border: 1px solid #f00;
}


/* ==============
    MOBILE: Main
   ============== */

.main {
    width: 90%;
    margin: 0 5%;
    padding: 30px 0;
    background: #C4C4C4;

}

.main article h1 {
    font-size: 2em;
}


/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 320px) {

    /* ====================
        INTERMEDIATE: Menu
       ==================== */

    nav label {
        display: inline-block;
    }

    nav>ul {
        display: none;
    }

    input[type="checkbox"]:checked~label+ul {
        display: block;
    }



    /* ========================
        INTERMEDIATE: IE Fixes
       ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
    .header-container{
        margin: 0 1.7%;
    }
}

@media only screen and (max-width: 600px) {

    /* ====================
        WIDE: CSS3 Effects
       ==================== */


    /* ============
        WIDE: Menu
       ============ */
    nav label {
        display: inline-block;
    }

    nav>ul {
        display: none;
    }

    input[type="checkbox"]:checked~label+ul {
        display: block;
    }

    .title {
        float: left;
    }
    /* ============
        WIDE: Main
       ============ */

    .main article {
        float: left;
        width: 100%;
    }
    .header-container{
        margin: 0 1.7%;
    }


}

@media only screen and (min-width: 1200px) {

    /* ===============
        Maximal Width
       =============== */

    .header-container{
        margin: 0 1.7%;
    }

    nav a {
        position: absolute;

        text-align: center;
        text-decoration: none;
        font-weight: bold;
        color: black;
        background: #FFFFFF;

    }

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow:none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}